#autoColorError {
	background-color: rgba(196, 0, 0, 0.9);
	border: 5px solid rgba(240, 240, 240, .9);

	position: fixed;
	left: 0; top: 0; right: 0; bottom: 0;
	margin: auto;

	width: 410px;
	height: 330px;

	overflow: auto;
	z-index: 9999;
	padding: 25px 25px 0 0;
}

#autoColorError span {
	display: block;
	background-color: rgba(0, 0, 0, .3);
	border-radius: 6px;

	padding: 6px 0px 8px 10px;
	margin-bottom: 4px;
	
	font-size: 105%;
	font-weight: bold;
	font-style: normal;
}

#autoColorError i {
	color: #E6DB74;
	font-style: normal;
}

#autoColorError li, #autoColorError b {
	color: #fff;
	font-family: 'cambria', 'arial';
	font-size: 16px;
	text-align: left;

	margin-left: -5px;
	margin-top: 15px;
}

#autoColorError b {
	font-size: 20px;
}