#auto-color {
	background-color: rgba(196, 0, 0, 0.9);
	border: 5px solid rgba(240, 240, 240, .9);

	position: fixed; 
	top: 0; left: 0; bottom: 0; right: 0; 
	margin: auto; 
	overflow: auto;

	width: 400px;
	height: 350px;

	z-index: 9999;
	padding: 20px;
}

#auto-color span {
	display: block;
	background-color: rgba(0, 0, 0, .3);
	border-radius: 6px;

	padding: 6px 0px 8px 10px;
	margin-bottom: 4px;
	
	font-size: 105%;
	font-weight: bold;
	font-style: normal;
}

#auto-color i {
	color: #E6DB74;
	font-style: normal;
}

#auto-color p, #auto-color b {
	color: #fff;

	font-family: 'cambria', 'arial';
	font-size: 16px;
	text-align: left;

	margin-top: 20px;
	margin-bottom: 0;
}

#auto-color b {
	display: block;
	margin: 10px 0 20px 0;

	font-size: 20px;
	text-align: center;
}